@media (min-width: 768px) {
  .px-md-6 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }
}

@media (max-width: 768px) {
  .px-custom1 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  /* .product__desc .product__desc-nav li.active {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    background: #A27EB6;
    color: white;
  }


  .product__desc .product__desc-nav li {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    background: #F5F5F5;
    ;
    color: black;
  }

  .magali .product__desc-nav {
    background: none;
  } */


}

/* Mobile */
@media (max-width: 600px) {

  /* ---------------------------------------------------------
  ■ General use
  --------------------------------------------------------- */
  .pd-0-mb {
    padding: 0 !important;
  }

  .mr-0-mb {
    margin: 0 !important;
  }

  .overflow-hidden-mb {
    overflow: hidden !important;
  }

  /* ---------------------------------------------------------
  ■ Carousel
  --------------------------------------------------------- */
  /* .slick-dots {
    display: none;
  } */

  /* ---------------------------------------------------------
  ■ Breadcumb
  --------------------------------------------------------- */
  .breadcrumb-item.active {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
  }

  .breadcrumb-item {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #525252;
  }

  /* ---------------------------------------------------------
  ■ vitality
  --------------------------------------------------------- */
  .vitality-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    color: #000000;
    text-transform: none;
  }

  .vitality-banner {
    height: 161px;
  }

  .vitality-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  .vitality-heading-block {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    text-align: justify;
    text-transform: uppercase;

    color: #000000;
  }

  .vitality-desc-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: justify;

    color: #575F64;
  }

  .blog-filter h2,
  .consulted h2,
  .recently h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 70px;

    color: #000000;
  }

  /* ---------------------------------------------------------
  ■ Major
  --------------------------------------------------------- */
  .major-space {
    margin-bottom: 60px;
  }

  .major.major-margin-bt {
    margin-bottom: 0 !important;
  }

  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imgs-slider .img-item {
    display: flex;
    flex-direction: column;
  }

  .imgs-slider .img-item p {
    background: #F5F5F5;
    font-weight: 400;
    display: block;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */

    text-align: center;

    color: #575F64;
    padding: 10px 29px;
  }

  .imgs-slider .imgs-pc {
    display: flex;
    margin: 0;
    gap: 0;
  }

  .imgs-slider .imgs-pc .swiper-slide {
    width: inherit;

  }

  .imgs-button-prev,
  .imgs-button-next {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 29px;
  }

  .product-button-prev,
  .product-button-next {
    background: rgba(0, 0, 0, 0.05);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 29px;

  }

  .item-major-img img:last-child {
    height: 130px;

  }

  .item-major-img img:first-child {
    height: 110px;
    object-fit: contain;

  }

  .item-major-img {
    height: 91px;
    width: 81px;
  }

  .card-title a {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
  }

  .text-left {
    text-align: left;

  }

  .product-review i {
    font-size: 13px;

  }

  .product-review span {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

    text-align: center;

    color: #000000;

    opacity: 0.5;
  }

  .oldprice {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #000000;
  }

  .pirce {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #000000;
  }

  .btn-add {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    /* identical to box height, or 185% */

    text-align: center;

    color: #000000;
  }

  /* ---------------------------------------------------------
  ■ Magali
  --------------------------------------------------------- */
  .magali .product__desc-nav ul {
    flex-wrap: wrap;
    padding: 0 20px !important;
    border-bottom: 2px solid transparent;
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
  }

  .magali .product__desc-nav li {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    margin: 8px 4px;
    background: #F5F5F5;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #000;
  }

  .magali .product__desc-content {
    margin-top: 0 !important;
  }

  .magali .product__desc-nav li::before {
    content: "";
    width: 0;
    left: -30%;
    height: 3px;
    bottom: 0;
    background-color: transparent !important;
    position: absolute;
  }

  .magali .product__desc-nav li.active {
    background: #A27EB6;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }

  /* ---------------------------------------------------------
  ■ Herbarium
  --------------------------------------------------------- */
  .herbarium-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */

    text-align: center;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
  }

  .herbarium-title-mb {
    width: 100%;
    padding: 54px 47px;
  }

  .herbarium-sidebar {
    display: none;
  }

  .herbarium-content {
    width: 100% !important;
  }

  .herbarium-content img {
    width: 111px;
  }

  .herbarium-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pagination .page-item.active {
    background: #263F4F;
    border-radius: 4px;
  }

  .pagination .page-item.active a {
    color: #fff;
  }

  .herbarium-sidebar-mb {
    display: block;
  }

  .herbarium-sidebar-mb h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
  }

  .herbarium-select {
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5FBF9;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    margin-bottom: 21px;
    margin-top: 11px;

    color: #30AA88;
  }

  .herbarium-select-sub {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: none;
  }

  .herbarium-select-sub .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .herbarium-select-sub .content {
    z-index: 100;
    padding: 22px 25px 22px 45px;
    position: relative;
    background-color: #fff;
  }

  .herbarium-select-sub h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.7);
  }

  .herbarium-select-sub .form-group {
    width: 80%;
  }

  .herbarium-select-sub .herbarium-select-sub-item {
    padding: 0;
    overflow: scroll;
    padding: 10px 0;
    max-height: 600px;

  }

  .herbarium-select-sub .herbarium-select-sub-item .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  .herbarium-select-sub label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;
  }

  .herbarium-select-sub .herbarium-select-sub-item .form-check.active label {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;
  }

  .herbarium-select-sub .herbarium-select-sub-item input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin-right: 5px;
    border: none;
    font: inherit;
    color: #30AA88;
    width: 1.15em;
    height: 1.15em;
    border: 0.13em solid #30AA88;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  .herbarium-select-sub .herbarium-select-sub-item input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #30AA88;
  }

  .herbarium-select-sub .herbarium-select-sub-item input[type="radio"]:checked::before {
    transform: scale(1);
  }


  .herbarium-select-sub .herbarium-select-sub-item input:focus {
    box-shadow: 0 0 0 0 #30AA88;
    background-color: #fff;
  }


  /* ---------------------------------------------------------
  ■ Product Detail
  --------------------------------------------------------- */
  .product__detail .product__first .product-imgs {
    padding: 0;
  }

  .product__second .product__second-heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-top: 30px;
  }
  .product-review .text-dark {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #000000;
  }
  .product__second-rating i {
    font-size: 24px;
  }
  .instock {
    font-weight: 600;
font-size: 12px;
line-height: 14px;

color: #0AA3D0;
  }
  .product__second-quantity {
    flex-direction: column;
  }
  .product__second-quantity>div button:nth-child(2) {
    height: inherit;
  }
  .product__second-button {
    margin-left: 0;
    margin-top: 20px;
    padding: 12px;
  }
}