/* ---------------------------------------------------------
■ Carousel
--------------------------------------------------------- */
@media (max-width: 600px) {
  .slick-dots {
    display: none;
  }
}


/* ---------------------------------------------------------
■ Account
--------------------------------------------------------- */
/* @media (max-width: 768px) {
  .dashboard-section .dashboard-sidebar .faq-tab .nav-tabs {
    display: flex !important;
    flex-wrap: wrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    scroll-behavior: smooth !important;
    gap: 1rem !important;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
  }

  .dashboard-section .dashboard-sidebar .faq-tab .nav-tabs>li {
    width: 50% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
} */